<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee   http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>ServletConfigDemo</display-name>

 <servlet>
 <servlet-name>TestConfig</servlet-name>
 <servlet-class>TestConfig</servlet-class>
 <init-param>
 <param-name>ipaddress</param-name>
 <param-value>192.168.2.3</param-value>
 </init-param>
<init-param>
 <param-name>portno</param-name>
 <param-value>8087</param-value>
 </init-param>
 <init-param>
 <param-name>machinename</param-name>
 <param-value>SuperUser</param-value>
 </init-param>

 </servlet>
 <servlet-mapping>
<servlet-name>TestConfig</servlet-name>
<url-pattern>/TestConfig</url-pattern>
</servlet-mapping>
 
 <servlet>
 <servlet-name> TestContext</servlet-name>
  <servlet-class>TestContext</servlet-class>
 </servlet>
 
 <context-param>
 <param-name>emailaddress</param-name>
 <param-value>gaurav@gmail.com</param-value>
 </context-param>
 <servlet-mapping>
 <servlet-name>TestContext</servlet-name>
<url-pattern>/TestContext</url-pattern>
</servlet-mapping>


</web-app>
